@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.text-xs {
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
}
.font-bold {
  font-weight: 700;
}
.items-center {
  align-items: center;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem/* 8px */ * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem/* 8px */ * calc(1 - var(--tw-space-x-reverse)));
}
.flex {
  display: flex;
}